@import 'reciepeList.css';
@import 'Editpage.css';
@import-normalize;

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
html{
    font-size: 22px;
}
body{
    padding: 0;
    margin: 0;
}