.reciepe-list{
    padding-left: 1%;
    border-right: 1px solid black;
    min-height: 100vh;
    width: 50%;

}
.btn{
    color: white;
    background: rgb(35, 130, 219);
    outline: none;
    border: none;
    font-weight: bold;
    padding: 6px 8px;
    border-radius: 4px;
    cursor: pointer;
    margin: 6px 2px;
}
.btn:hover{
    background: rgb(0, 89, 172);

}
.button-container{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.reciepe_edit{
    padding: 30px;
    padding-top: 10px;
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    max-height: 100%;
    overflow-y: auto;
}